@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  font-size: 18px;
  line-height: 18px;
  vertical-align: baseline;
  margin-top: 4px;
}

.icon-ok:before { content: '\62'; } /* 'b' */
.icon-cancel:before { content: '\61'; } /* 'a' */
.icon-cw:before { content: '\63';  margin-right: 13px;} /* 'c' */
.icon-download:before { content: '\64'; margin-right: 13px;} /* 'd' */